.postImage {
  max-width: 1440px;

  height: 25rem;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.postContainer {
  padding: 5rem 2rem;

  .post {
    header {
      display: flex;
      align-items: flex-start;
      flex-direction: column;

      margin-bottom: 5rem;

      h1 {
        color: var(--heading);
        font-size: 3rem;
        line-height: 3.25rem;
      }

      div {
        padding-top: 1.5625rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        time,
        span {
          display: flex;
          align-items: center;
          justify-content: flex-start;

          font-size: 0.875rem;

          margin-right: 2rem;

          &:last-child {
            margin: 0;
          }
          svg {
            margin-right: 0.5rem;
          }
        }
      }
      p {
        margin-top: 1rem;

        font-style: oblique;
        font-size: 0.875rem;
      }
    }

    .postContent {
      h2 {
        color: var(--heading);
        font-size: 2.25rem;

        padding-bottom: 1.5625rem;
      }

      & > div {
        p,
        ul,
        li {
          color: var(--gray-300);

          line-height: 1.25rem;
          text-align: justify;
          padding-bottom: 1.5625rem;

          strong {
            font-weight: bold;
          }

          a {
            color: var(--highlight);

            &:hover {
              text-decoration: underline;
            }
          }
        }

        ul,
        li {
          &:last-child {
            padding: 0;
          }
        }
      }
    }
  }

  footer {
    margin: 0 auto;
    width: 100%;

    span.divider {
      display: block;
      width: 100%;
      height: 1px;

      padding-bottom: 3.125rem;

      border-top: 1px solid var(--gray-300);
      opacity: 0.1;
    }

    .posts {
      display: grid;
      grid-template-columns: 1fr 1fr;

      a {
        font-size: 1.125rem;
        color: var(--heading);

        strong {
          display: block;
          padding-top: 0.5rem;

          font-weight: 500;
          font-size: 1rem;

          color: var(--highlight);
        }

        &.nextPost {
          text-align: right;
          grid-column-end: none;
        }
      }
    }
  }
}
