

.postContainer {
  max-width: 1440px !important;
  
  .postImage {
    height: 25rem;
    width: 100%;
  
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .post {
    padding: 5rem 2rem;

    header {
      display: flex;
      align-items: flex-start;
      flex-direction: column;

      max-width: 1120px;
      margin-bottom: 5rem;

      h1 {
        color: var(--heading);
        font-size: 3rem;
        line-height: 3.25rem;
      }

      div {
        padding-top: 1.5625rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        
        time, span {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          
          font-size: 0.875rem;
          
          margin-right: 2rem;

          &:last-child {
            margin: 0;
          }
          svg {
            margin-right: .5rem;
          }
        }
      }
    }

    .postContent {
      h2 {
        color: var(--heading);
        font-size: 2.25rem;

        padding-bottom: 1.5625rem;
      }

      & > div {
        p, ul, li {
          color: var(--gray-300);
          
          line-height: 1.25rem;
          text-align: justify;
          padding-bottom: 1.5625rem;

          strong {
            font-weight: bold;
          }

          a {
            color: var(--highlight);

            &:hover {
              text-decoration: underline;
            }
          }
        }
        
        ul, li {
          &:last-child {
            padding: 0;
          }
        }
      }
    }
  }
}