.headerContainer {
  height: 5rem;

  cursor: default;

  .headerContent {
    max-width: 1120px;
    height: 5rem;

    margin: 0 auto;
    padding: 0 2rem;

    display: flex;
    align-items: center;

    & > a {
      display: flex;
      justify-content: center;

      font-size: 1.5rem;
      font-weight: 700;
      
      color: var(--heading);

      img {
        font-size: 0;
      }

      strong {
        color: var(--highlight);
        margin-left: 5px;
      }
    }
  }
}